@font-face {
    font-family: 'iconfont';  /* Project id 4593713 */
    src: url('//at.alicdn.com/t/c/font_4593713_53yfudh9jlu.woff2?t=1719067265196') format('woff2'),
    url('//at.alicdn.com/t/c/font_4593713_53yfudh9jlu.woff?t=1719067265196') format('woff'),
    url('//at.alicdn.com/t/c/font_4593713_53yfudh9jlu.ttf?t=1719067265196') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



